<div *ngIf="cartProducts.length > 0; else elseBlock">
  <h2>Products cart:</h2>
  <h3>Total price: {{ getSumPrice() }}</h3>
  <h3>Products in the cart: {{ cartProducts.length }}</h3>
  <div *ngFor="let item of cartProducts" appProductStylization>
    <app-product
      [name]="item.name"
      [description]="item.description"
      [price]="item.price"
      [category]="item.category"
      [isAvailable]="item.isAvailable"
    ></app-product>
  </div>
</div>
<ng-template #elseBlock><h2>The cart is empty</h2></ng-template>
