<div *ngIf="cartProducts.length > 0; else elseBlock">
  <h2>Products cart:</h2>
  <h3>Total price: {{ getSumPrice() | currency }}</h3>
  <button (click)="onCartClean()">Clean the cart</button>
  <h3>Products in the cart: {{ getProductsNumber() }}</h3>
  <select [(ngModel)]="field">
    <option *ngFor="let f of fields"> {{ f }} </option>
  </select>
  <select [(ngModel)]="order">
    <option [ngValue]="false">bigger first</option>
    <option [ngValue]="true">smaller first</option>
  </select>
  <div
    *ngFor="let item of (cartProducts | orderBy: field:order)"
    appProductStylization
  >
    <app-product
      [name]="item.product.name"
      [description]="item.product.description"
      [price]="item.product.price"
      [category]="item.product.category"
      [isAvailable]="item.product.isAvailable"
      appClick="20"
    ></app-product>
    <p>{{ item.number }}</p>
    <button (click)="onProductRemove(item)">
      Remove the product from the cart
    </button>
    <button (click)="onProductAdding(item)">
      +
    </button>
    <button (click)="onProductReducing(item)">
      -
    </button>
  </div>
</div>
<ng-template #elseBlock><h2>The cart is empty</h2></ng-template>
